<!-- -->
<ion-header>
  <ion-navbar color="gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Messages</strong>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item *ngFor='let msg of trips' (click)="msgClick(msg.idMessageSerial,msg.actionLink)">
      <div *ngIf="msg.idMessageType == 2">
        <p class="txtCenter">{{msg.DisplayName}}</p>
        <img style="width:100%;height:100%;object-fit: cover;" src="{{msg.headerimge}}">
        <p class="txtCenter">{{msg.txtMessage}}</p>
      </div>
      <ion-avatar item-start *ngIf="msg.idMessageType != 2">
        <img src="{{msg.siteIcon}}">
      </ion-avatar>
      <img *ngIf="msg.idMessageType == 1" style="width:100%;height:100%;object-fit: cover;" src="{{msg.headerimge}}">
      <h2 *ngIf="msg.idMessageType != 2" class="text-black">{{msg.Username}}@frontier<span class="msgAge">{{msg.Age}}</span></h2>
      <p *ngIf="msg.idMessageType != 2">{{msg.txtMessage}}</p>
    </ion-item>
    <!-- <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/ionic3-ico.png">
      </ion-avatar>
      <h2 class="text-black">Finn</h2>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item> -->
  </ion-list>

  <!-- <div class="chatBubble" *ngFor='let msg of trips'>
    <div class="chat-bubble right">
      <div class="message">{{msg.txtMessage}}</div>
      <div class="message-detail">
          <span>{{msg.dateReceived}}</span>
      </div>
    </div>
    <br>
  </div> -->
</ion-content>