page-wallet-send,
.wallet-send {
  .balance-bg{
    background: #f3f3f3;
  }
	 .ftbcoin{
     height: 45px;
     width: 45px;
   }
  .payto{
    color: gray;
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 0px;
  }
  .sendbtn{
    float: right;
    margin: 16px;
    background: #858d97;
  }
}
