page-wallet-send,
.wallet-send {
  .balance-bg{
    background: #f3f3f3;
  }
	 .ftbcoin{
     height: 45px;
     width: 45px;
   }
  .payto{
    color: gray;
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 0px;
  }
  .sendbtn{
    float: right;
    margin: 16px;
    background: #858d97;
  }
  .battery{
    padding-top: 10%;
    color: black;
    padding-left: 30%;
  }
  .amountfull{
    color: red;
    font-weight: bold;
  }
  .checkbtn{
    padding: 5px;
    margin: 0px !important;
    margin-top: 16px !important;
    left: 0px;
  }
  .input-md[clearInput] .text-input{
    padding: 0px;
    width: 100%;
    color:black;
  }
  .input-md .text-input-clear-icon{
    right: -9px !important;
  }
}
